@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --body-c: #ffffff;
  --text-c: #161a1d;
  --title-c: #0b090a;
  --primary-c: #0fa3b1;

  --big-fs: 3.75rem;
  --medium-fs: 2rem;
  --normal-fs: 1.5rem;
  --small-fs: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-align: none;
  font-family: Poppins, sans-serif;
}

body {
  background-color: var(--body-c);
  color: var(--text-c);
}

html {
  scroll-behavior: smooth;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.activated a {
  background-color: var(--primary-c) !important;
  color: var(--body-c) !important;
  border-radius: 10px;
  transform: rotateX("angle");
  transition: all 1s;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.8rem 5%;
  background-color: var(--body-c);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 10000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_list {
  display: flex;
  gap: 1rem;
  margin-left: auto;
  justify-content: flex-end;
  list-style: none;
}

.nav_item a {
  font-size: var(--normal-fs);
  color: var(--text-c);
  text-transform: capitalize;
  list-style: none;
  padding: 0.4em 0.8em;
}

.nav_item a:hover {
  background-color: #f8f9fa;
  color: var(--primary-c);
  border-radius: 10px;
}

/* section about */
#about {
  padding: 12rem 20% 0 20%;
  display: flex;
  flex-direction: column;
  background-color: var(--body-c);
  align-items: center;
}

.about_foto {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  overflow: hidden;
}

.about_foto img {
  width: 100%;
}

.about_me {
  margin: 4em 0;
  text-align: center;
}

h1 {
  font-size: var(--big-fs);
  font-weight: bolder;
  color: var(--title-c);
}

.about_me span {
  color: var(--primary-c);
}

.about_me p {
  font-size: var(--normal-fs);
  padding: 1em 3em;
}

.about_tech {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about_tech h1 {
  font-size: var(--big-fs);
}

.about_tech h1 span {
  color: var(--primary-c);
}

.about_tech p {
  font-size: var(--normal-fs);
  margin: 1em 0 2em 0;
}

.tech_stack {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2.5rem;
  text-align: left;
}

.tech_stack .card {
  background-color: #f8f9fa;
  padding: 1.3em 2em;
  border-radius: 1em;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.tech_stack .card:nth-child(2) {
  transition-delay: 200ms;
}

.tech_stack .card:nth-child(3) {
  transition-delay: 400ms;
}

.tech_stack .card:nth-child(5) {
  transition-delay: 200ms;
}

.tech_stack .card:nth-child(6) {
  transition-delay: 400ms;
}

.tech_stack .card img {
  width: 70px;
  height: 70px;
}

.card h2 {
  font-size: var(--normal-fs);
  margin: 0.5em 0;
}

.card p {
  font-size: var(--small-fs);
}

/* section portofolio */
#section2 {
  padding: 12rem 20% 12rem 20%;
}

.project {
  margin: 4em 0;
  text-align: center;
}

.project h1 {
  font-size: var(--big-fs);
  font-weight: bolder;
  color: var(--title-c);
}

.project span {
  color: var(--primary-c);
}

.project p {
  font-size: var(--normal-fs);
  padding: 1em 3em;
}

.project button {
  font-size: var(--normal-fs);
  color: var(--body-c);
  padding: 1em 1.6em;
  margin: 1em;
  border: none;
  border-radius: 1.4em;
  background-color: var(--primary-c);
  transition: all 1s;
}

.project button:hover {
  transition: all 1.5s;
  transform: rotate();
  box-shadow: 5px 10px 5px var(--text-c);
}

.porto_stack {
  display: grid;
  grid-gap: 2.5rem;
  grid-template-columns: 1fr 1fr;
}

.porto_stack .card {
  background-color: #f8f9fa;
  border-radius: 1em;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.porto_stack .card img {
  width: 100%;
}

#section3 {
  min-height: 50vh;
  background: var(--text-c);
  border-radius: 50% 0 0 0;
  padding: 2em 20%;
}

.contact {
  text-align: center;
}

.contact h1 {
  color: var(--primary-c);
}

.contact h1 span {
  color: var(--body-c);
}

.sosmed {
  margin-top: 5em;
  display: flex;
  justify-content: space-evenly;
}

.sosmed-icon i {
  font-size: var(--big-fs);
  color: var(--primary-c);
  transition: all 1s;
}

.sosmed-icon i:hover {
  color: var(--body-c);
}

hr {
  color: var(--primary-c);
}

footer {
  background-color: var(--text-c);
  color: var(--body-c);
  text-align: center;
}

footer p {
  padding: 1em;
}
